 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>About</h4>
                    <hr class="phone-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <p>Off The Grid Apps builds mobile and web apps. We specialize in React and React Native.</p>
                </div>
                <div class="col-lg-4 text-center">
                    <p>Check out our apps or <a href="mailto:info@otgapps.com">contact us</a> if you're interested in app development services.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://itunes.apple.com/us/artist/mohawk-apps-llc/id414522452?at=10l4yY" class="btn btn-lg btn-outline">
                        <i class="fa fa-apple"></i> Visit the App Store
                    </a>
                    <a href="https://itunes.apple.com/us/artist/mohawk-apps-llc/id414522452?at=10l4yY" class="btn btn-lg btn-outline">
                        <i class="fa fa-android"></i> Google Play Store
                    </a>
                </div>
            </div>
        </div>
    </section>
