<!-- Apps Grid Section -->
<section id="apps">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Apps</h2>
        <hr class="phone-primary">
      </div>
    </div>
    <div class="row">
      {% for app in site.data.app_store.results | sort: 'releaseDate' %}
        {% if app.kind =='mac-software' or app.kind == 'software' %}
          <div class="col-sm-4 apps-item">
            <a href="#{{ app.trackName | slugify }}" class="apps-link" data-toggle="modal">
              <div class="caption rounded">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                  <div>
                    {{ app.trackName }}
                  </div>
                </div>
              </div>
              {% if app.kind =='mac-software' %}
                <img src="{{ app.artworkUrl512 | replace:'.512x512-75.jpg','.350x350-75.jpg' }}" class="img-responsive rounded" alt="{{ app.trackName }}">
              {% else %}
                <img src="{{ app.artworkUrl512 | replace:'.png','.350x350-75.jpg' }}" class="img-responsive rounded" alt="{{ app.trackName }}">
              {% endif %}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
